.navbar
	.navbar-inner
		.container
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href='/') Lost And Found
			.nav-collapse
				ul.nav
					- if (typeof user !== "undefined")
						- if (user.role == "admin")
							li
								a(href='/categories') Categories
							li
								a(href='/createUser') Create User
						- if (user.role == "admin" || user.role == "volunteer")
							li
								a(href='/loss') Lost items
						li
							a(href='/declareLoss') Declare a loss
					- else
						li
							a(href='/register') Register
				ul.nav.pull-right
					- if (typeof user !== "undefined")
						li
							a Hi #{user.firstName} !
						li
							form.navbar-form(action='/logout', method='get')
								button.btn.btn-danger logout 
									i.icon-off.icon-white
					- else
						li
							form.navbar-form(action='/login', method='post')
								input(name='email', placeholder='email')
								input.input-small(name='password', placeholder='password', type='password')
								button.btn.btn-primary Sign in
				
					