.navbar
	.navbar-inner
		.container
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href='#') Lost And Found
			.nav-collapse
				ul.nav
					li
						a(href='/') Home
					li
						a(href='/categories') Categories
					li
						a(href='/declareLoss') Declare a loss