extends layout

block mainContent
	form#addCategoryForm(method='post', action='/api/category')
		h1 Create a category
		label
			| Label
			input(name='label')
		label
			| Fields
			ul.fields
		button.btn.btn-success.submit Create category