extends layout

block mainContent
	h1 Create a user
		form#createUserForm(action='/api/createUser', method='post')
			label First name
				input(name='firstName')
			label Last name
				input(name='lastName')
			label Email
				input(name='email')
			label Password
				input(name='password')
			label Address
				input(name='address')
			label Phone number
				input(name='phone')
			label Role
				select(name='role')
					option volunteer
					option admin
					option lambda
			button.btn.btn-success Create user