doctype 5
html(lang="en")
	head
		title Index
		link(rel='stylesheet',href='static/style/style.css',media='screen')
		link(rel='stylesheet',href='static/style/bootstrap.min.css',media='screen')
		link(rel='stylesheet',href='static/style/bootstrap-responsive.min.css',media='screen')
		link(rel='stylesheet',href='static/style/bootstrap/jquery-ui-1.8.16.custom.css',media='screen')
	body
		.container
			form#addLost(method='post', action='/api/lost')
				h1 Declare a loss
				label
					| Description
					input(name='lost[shortDesc]',value='Wallet')
				label
					| Lost on	
					input.datepicker(name='lost[lostOn]',value='')
				label
					| Where ?
					input(name='lost[where]',value='somewhere')
				button(action='submit') Declare this loss :(
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
		script(src='static/script/bootstrap.min.js')
		script(src='static/script/scripts.js')