doctype 5
html(lang="en")
	head
		title Index
		link(rel='stylesheet',href='static/style/style.css',media='screen')
		link(rel='stylesheet',href='static/style/bootstrap.min.css',media='screen')
		link(rel='stylesheet',href='static/style/bootstrap-responsive.min.css',media='screen')
		link(rel='stylesheet',href='static/style/bootstrap/jquery-ui-1.8.16.custom.css',media='screen')
	body
		.container
			form#declareLossForm(method='post', action='/api/lost')
				h1 Declare a loss
				label
					| Description
					input(name='lost[shortDesc]',value='Wallet')
				label
					| Lost on	
					input.datepicker(name='lost[lostOn]',value='')
				label
					| Where ?
					input(name='lost[where]',value='somewhere')
				button.btn Declare this loss :(
			form#addCategoryForm(method='post', action='/api/category')
				h1 Create a category
				label
					| Label
					input.name(name='label',value='')
				label
					| Field	
					input.additionalField(value='')
				button.btn Create category
		#lossModal.modal.hide.fade
			.modal-header
				a.close(data-dismiss='modal') x
				h3 We got your loss
			.modal-body
				p.message
			.modal-footer
				a.btn.btn-primary(data-dismiss='modal') OK :)
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
		script(src='static/script/bootstrap.min.js')
		script(src='static/script/scripts.js')