doctype 5
html(lang="en")
	include includes/head
	body
		include includes/navbar 
		.container
			block mainContent
		#lossModal.modal.hide.fade
			.modal-header
				a.close(data-dismiss='modal') x
				h3 We got your loss
			.modal-body
				p.message
			.modal-footer
				a.btn.btn-primary(data-dismiss='modal') OK :)
		include includes/scripts