extends layout

block mainContent
	h1 Lost items
	table.table.table-striped.table-bordered.table-condensed
		thead
			tr
				th Title
				th Description
		tbody
			tr
				td Title Goes Here
				td Description goes here
			tr
				td Title Goes Here
				td Description goes here
			tr
				td Title Goes Here
				td Description goes here
			tr
				td Title Goes Here
				td Description goes here
			tr
				td Title Goes Here
				td Description goes here
			tr
				td Title Goes Here
				td Description goes here
