head
	title Joyeux anniversaire à vous deux !
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='stylesheet',href='static/style/bootstrap.min.css',media='screen')
	link(rel='stylesheet',href='static/style/bootstrap-responsive.min.css',media='screen')
	//link(rel='stylesheet',href='static/style/bootstrap/jquery-ui-1.8.16.custom.css',media='screen')
	link(rel='stylesheet',href='static/style/style.css',media='screen')

body
	h1 Joyeux anniversaire à vous deux !
	h3 Nous vous offrons un moment à vous deux, ou à vous trois, dans un endroit magique pas tellement loin d'ici :)
	img.max(src='/static/img/perros3.jpg')
	h1#perros Perros Guirec !
	img.max(src='/static/img/perros2.jpg')
	h3 On espère que vous aurez une météo comme sur ces photos afin de profiter au mieux de la côte de granite rose !
	img(src='/static/img/perros1.jpg')
	h3 Le soir venu, après un bon plateau de fruits de mer (n'est ce pas Yoann), vous pourrez vous reposer dans une chambre d'hôte en revant du petit déj' copieux qui vous attendra au matin.
	img(src='/static/img/perros4.jpg')
	h3 Il ne reste qu'à nous preciser vos dispos :)
