extends layout

block mainContent
	h1 Register
		form#registerForm(action='/api/register', method='post')
			label First name
				input(name='firstName')
			label Last name
				input(name='lastName')
			label Email
				input(name='email')
			label Password
				input(name='password')
			label Address
				input(name='address')
			label Phone number
				input(name='phone')
			button.btn.btn-success Register