extends layout

block mainContent
	h1 Register
		form#registerForm(action='/api/register', method='post')
			label First name
				input(name='user[firstName]')
			label Last name
				input(name='user[lastName]')
			label Email
				input(name='user[email]')
			label Password
				input(name='user[password]')
			label Address
				input(name='user[address]')
			label Phone number
				input(name='user[phone]')
			button.btn.btn-success Register
